.footer{
    width: 100%;
    height: 110px;
    background-color: #424141;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    color: white;

    .logo-footer{
        display: flex;
        gap: 50px;
        align-items: center;
    }
    .nav-footer{
        display: flex;
        gap: 30px;
    }

    .social-footer{
        display: flex;
        align-items: center;
        gap: 30px;

        .footer-number{
            width: 150px;
            height: 70px;
            border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s ease-out;
            p{
                transition: 0.5s ease-out;
            }
        }
        .footer-number:hover{
            transform: translateY(-10px);
            background-color: #fff;
            color: black;
            transition: 0.5s ease;
            p{
                margin-bottom: 15px;
                transition: 0.5s ease;
            }
        }
    }
}