.About{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;

    .text-part{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center ;
        padding: 0px 35px;
        gap: 30px;

        h1{
            font-size: 38px;
        }
        p{
            font-size: 18px;
            color: #67675F;
        }
    }
    .about-technique{
        width: 40%;
        height: 400px;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F8F8F8;
        gap: 150px;

        .number{
            display: flex;
            flex-direction: column;

            .number-box{
                display: flex;
                gap: 10px;
                h1{
                    font-size: 65px;
                    font-weight: 200;
                }
                h3{
                    font-size: 27px;
                    font-weight: 200;
                    color: #27AE60;
                }
            }
        }
        .careers{
            h1{
                font-size: 65px;
                    font-weight: 200;
            }
        }
    }
}