.main-question{
    width: 100%;
    height: 70vh;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    padding: 0px 320px 0px 70px;
    display: flex;
    position: relative;


    .part-1{
        width: 50%;
        height: 100%;

        .text-part{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 27px;

        .questions{
            width: 418px;
            display: flex;
            flex-direction: column;
            gap: 27px;
            padding: 0px 80px 0px 0px;
        }
    }
    }
    .button-part{
        .order{
            padding: 14px 24px;
            border-radius: 8px;
            border: none;
            background-color: #27AE60;
            color: white;
        }
    }
    .stripe{
        width: 18%;
        height: 100%;
        background-color: #27AE60;
    }
    .fields{
        width: 500px;
        height: 400px;
        background-color: #ffffff;
        position: absolute;
        right: 190px;
        top: 40px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 20px;
        
        .name{
            padding: 15px 20px;
            border: 1px solid #DDDDDD;
        }
        .number{
            @extend .name
        }
        .comments{
            padding: 30px 20px;
            border: 1px solid #DDDDDD;
        }
        
        .send-info{
            input{
                padding: 14px 24px;
            border-radius: 8px;
            border: none;
            background-color: #27AE60;
            color: white;
            }
        }
        }
    }