.main {
    width: 100%;
    height: 280px;

    .header {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        padding: 0px 70px;
    }

    .main-card {
        width: 100%;
        height: 200px;
        display: flex;
        padding: 0px 70px;
        gap: 10px;

        .adv {
            width: 273px;
            height: 90px;
            border: 1px solid #A8A8A8;
            border-radius: 6px;
            display: flex;
            transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);



            .icon-part {
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .text-part {
                width: 171px;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        .adv:hover {
            transform: scale(1.08) rotate(0deg) translate(0px, -12px) skewX(0deg);
            box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3);
            opacity: 1;
            filter: brightness(1.1);
            background-color: #27AE60;
            color: #ffffff;
            color: white;
            margin: 0px 30px;
            transition: 0.4s ease;
        }
    }
}