$main-color: #27AE60;


nav{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 0px 0px 0px 70px;

    ul{
        display: flex;
        margin-left: 80px;
        gap: 45px;

        li{
            transition: 0.5s ease;
        }

        li:hover{
            color: $main-color;
            transition: 0.5s ease;
        }

        
    }
}